.AsinListItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    border-style: none;
    border-radius: 20px;
    background-color: white;
    padding: 16px;
    margin-bottom: 16px;
}

.image{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}

.asin{
    display: flex;
    align-items: flex-start;
    font-weight: 900;
    font-size: 25px;
    width: 100%;
}

.asinName{
    display: flex;
    font-weight: 500;
    font-size: 12px;
    color: #7A7A7A;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
}

.priceAnalysisBtn{
    display: flex;
    justify-content: center;
    padding: 12px 16px 12px 16px;
    border: none;
    color: #5D57C6;
    background-color: white;
    border-radius: 12px;
    font-weight: 900;
    font-size: 12px;
    width: 120px;
}

.BuyBtn{
    display: flex;
    justify-content: center;
    padding: 12px 16px 12px 16px;
    border: none;
    color: white;
    background-color: #5D57C6;
    background-image: linear-gradient(to right, #4776E6 , #8E54E9);
    border-radius: 12px;
    font-weight: 900;
    font-size: 12px;
    width: 120px;
}

.priceInfoContainer{
    display: flex;
    flex-direction: row;
    margin: 8px 8px 0px 8px;
}

.currentPrice{
    color: #5D57C6;
    font-weight: 600;
    font-size: 16px;
    margin: 8px;
    width: 50%;
}

.targetPrice{
    color: #5D57C6;
    font-weight: 600;
    font-size: 16px;
    margin: 8px;
    width: 50%;
}

.lastUpdatedDate{
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 8px;
}