.AsinListItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: none;
    border-radius: 20px;
    background-color: white;
    padding: 16px;
    margin-bottom: 16px;
}

.image {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}

.asin {
    display: flex;
    align-items: flex-start;
    font-weight: 900;
    font-size: 25px;
    width: 100%;
    color: black;
}

.asinName {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    color: #7A7A7A;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
}

.priceAnalysisBtn {
    display: flex;
    justify-content: center;
    padding: 12px 12px 12px 12px;
    border: none;
    color: #5D57C6;
    background-color: white;
    border-radius: 12px;
    font-weight: 900;
    font-size: 12px;
    width: 100px;
}

.buyNowBtn {
    display: flex;
    justify-content: center;
    padding: 12px 12px 12px 12px;
    border: none;
    color: white;
    background-color: #5D57C6;
    background-image: linear-gradient(to right, #00B09B, #96C93D);
    border-radius: 12px;
    font-weight: 900;
    font-size: 12px;
    width: 100px;
    box-shadow: 0px 4px 4px rgba(95, 86, 255, 0.25);
}

.doNotBuyBtn {
    display: flex;
    justify-content: center;
    padding: 12px 12px 12px 12px;
    border: none;
    color: white;
    background-color: #5D57C6;
    background-image: linear-gradient(to right, #4776E6, #8E54E9);
    border-radius: 12px;
    font-weight: 900;
    font-size: 12px;
    width: 100px;
    box-shadow: 0px 4px 4px rgba(95, 86, 255, 0.25);
}
.doNotBuyBtn:hover {
    background-image: linear-gradient(to right, #3f68c7, #7c49cd);
}

.buyNowBtn:hover {
    background-image: linear-gradient(to right, #008a7a, #7da933);
}

.priceInfoContainer {
    display: flex;
    flex-direction: row;
    margin: 8px 8px 0px 8px;
}

.currentPrice {
    display: flex;
    justify-content: flex-end;
    color: #5D57C6;
    font-weight: 600;
    font-size: 16px;
    margin: 8px;
    width: 50%;
}

.targetPrice {
    display: flex;
    justify-content: flex-start;
    color: #5D57C6;
    font-weight: 600;
    font-size: 16px;
    margin: 8px;
    width: 50%;
}

.lastUpdatedDate {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 8px;
}

@media only screen and (min-width: 375px) {
    .buyNowBtn {
        width: 120px;
        font-size: 14px;
        padding: 12px 16px 12px 16px;
    }

    .doNotBuyBtn {
        width: 120px;
        font-size: 14px;
        padding: 12px 16px 12px 16px;
    }

    .priceAnalysisBtn {
        width: 120px;
        font-size: 14px;
        padding: 12px 16px 12px 16px;
    }
}

@media only screen and (min-width: 768px) {
    .AsinListItem {
        flex-direction: row;
    }

    .buttonContainer {
        justify-content: center;
    }
}

@media only screen and (min-width: 992px) {
    .AsinListItem {
        flex-direction: row;
        max-width: 929px;
    }

    .buttonContainer {
        justify-content: center;
    }

    .allInfoContainer {
        display: flex;
        flex-direction: row;
    }

    .image {
        max-width: 125px;
    }
}