.App {
  text-align: start;
  padding: 48px 16px 48px 16px;
}

.appTitle {
  color: white;
  font-size: 25px;
  font-weight: 700;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

@media only screen and (min-width: 768px) {
  .App {
    padding: 72px 48px 72px 48px;
  }

  .appTitle {
    font-size: 30px;
  }

}